.ol-control {
  z-index: 2;
  background-color: inherit;
  padding: 2px;
  box-shadow: none !important;
}

.ol-control button {
  color: unset;
  background-color: inherit;
  margin: 0px;
}


.ol-control button:focus {
  background-color: white !important;
  color: #1E1E1E
}

.ol-control button:focus > span {
  color: #1E1E1E
}

.ol-control button:hover {
  background-color: inherit;
  color: #1E1E1E
}

.ol-attribution > button > span {
  background-color: unset !important;
}

.ol-attribution > ul {
  font-size: 10px;
  text-shadow: none;
  color: white;
}

.ol-attribution {
  background-color: #1E1E1E !important
}

.ol-zoom {
  left: unset;
  top: 45px !important;
  right: 10px !important;
}

.ol-full-screen {
  left: unset;
  top: 10px !important;
  right: 10px !important;
}

.ol-full-screen > button:focus {
  color: white;
}