.md-body {
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    // text-transform: uppercase;
    color: var(--v-primary-base);
    font-weight: 600;
    line-height: 1.25;
    margin-bottom: 16px;
    margin-top: 24px;
  }
  h1 {
    font-size: 2em;
  }
  h1, h2 {
    padding-bottom: 0.3em;
    border-bottom: 1px solid rgb(234, 236, 239);
  }
  img {
    max-width: 100%;
  }
  th {
    padding: 0 5px;
    @media screen and (max-width: 756px) {
      display: block;
      text-align: left;
    }
  }
}
.md-body > :first-child {
    margin-top: 0px !important;
}

.v-dialog--fullscreen {
  overflow: hidden;
  .scrollContainer {
    overflow-y: auto;
    height: 100%;
  }
}

.leaflet-control-layers-toggle {
  width: 26px !important;
  height: 26px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3px;
}

.leaflet-touch .leaflet-control-layers-toggle {
  width: 30px !important;
  height: 30px !important;
}

.v-input {
  background: #fff;
}

.v-application.theme--dark {
  .md-body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      color: #fff !important;
    }
  }
  a, .primary--text {
    color: #fff !important;
  }
  .v-input, {
    background: #1E1E1E;
  }
  .v-dialog--fullscreen, {
    background: #363636;
  }
  .v-tab--active {
    color: #fff !important;
  }
  .v-card__title, .v-card__subtitle, .leaflet-control-zoom, .leaflet-control-zoom a {
    // color: #363636 !important;
    background: #363636 !important;
    color: #fff !important;
  }
  .leaflet-control-layers,.leaflet-draw-toolbar a {
    // background: #363636 !important;
    filter: invert(1);
  }
}