<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="./scrolly.css" />
</head>

<body>
<div id="app">
    <main>
        <section
            v-for="(data, sectionIndex) in scrollyArray"
            class="scrollySection"
        >
            <template
                v-if="data.every((el) => 4 === el.width)"
            >
                <article
                    v-for="(el, i) in data"
                    class="fullWidthBlock"
                >
                    <div
                        v-if="el.text.includes('<--EXPAND-->')"
                        class="step expandContainer"
                        :data-section="sectionIndex"
                        :data-step="i"
                    >
                        <img
                            src="./data/gtif/images/circle-plus-solid.svg"
                            class="expandBtn"
                            width="20"
                            :data-section="sectionIndex"
                            @click="toggleExpandable(sectionIndex)"
                        >
                        <div
                            class="expandable hidden"
                            data-section="sectionIndex"
                            v-html="el.text.replaceAll('<--EXPAND-->', '')"
                        ></div>
                    </div>
                    <div
                        v-else
                        class="step"
                        :data-section="sectionIndex"
                        :data-step="i"
                        v-html="parseMarkdown(el.text)"
                    ></div>
                </article>
            </template>
            <template v-else id="scrolly">
                <article>
                    <div
                        v-for="(el, i) in data.filter((v, i) => !(i % 2))"
                        :class="currentStep.step === i ? 'active step' : 'step'"
                        :data-section="sectionIndex"
                        :data-step="i"
                        v-html="parseMarkdown(el.text)"
                    ></div>
                </article>

                <transition-group class="figureContainer" name="slide" mode="out-in">
                    <figure
                        v-for="(figure, figureIndex) in data.filter((v, i) => i % 2)"
                        v-show="currentStep.section === sectionIndex && currentStep.step === figureIndex"
                        :key="figureIndex"
                    >
                        <div v-if="figure.text || figure.id">
                            <template v-if="figure.text">
                                <img
                                    v-if="figure.text.includes('<--IMG-->')"
                                    :src="figure.text.replaceAll('<--IMG-->', '')"
                                    width="700"
                                    >
                                <video
                                    v-else-if="figure.text.includes('<--VID-->')"
                                    :src="figure.text.replaceAll('<--VID-->', '')"
                                    width="700"
                                    >
                                </video>
                            </template>
                            <iframe
                                v-else
                                class="item"
                                :src="`/iframe?poi=${figure.id.substring(0, figure.id.indexOf('@'))}`"
                                width="800px"
                                height="500px" frameBorder="0" scroll="no" style="overflow:hidden"></iframe>
                        </div>
                    </figure>
                </transition-group>
            </template>
        </section>
    </main>
</div>

<script src="./scrollama.min.js"></script>
<script src="./iframeResizer.contentWindow.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.7.10/dist/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/marked/marked.min.js"></script>
<script>
  const app = new Vue({
    el: '#app',
    data: () => { return {
        scrollyArray: null,
        imgData: null,
        textData: null,
        currentStep: {
            section: 0,
            step: 0,
        },
    }},
    created() {
        window.addEventListener('message', (message) => {
            if (typeof message?.data === 'object') {
                this.scrollyArray = message.data;
                this.$nextTick(() => {
                    this.scrollamaSetup();
                });
            }
        });
    },
    methods: {
      scrollamaSetup() {
        const scroller = scrollama();

        // scrollama event handlers
        const handleStepEnter = (response) => {
            // response = { element, direction, index }
            this.currentStep = {
                section: parseInt(response.element.dataset.section),
                step: parseInt(response.element.dataset.step),
            };
        }

        const handleStepProgress = (response) => {
          if (document.querySelector('video')) {
            // update video based on step
            let duration = document.querySelector('video').duration;
            window.requestAnimationFrame(() => {
                document.querySelector('video').currentTime = duration * response.progress;
            });
          }
        }

        const init = () => {
            scroller
                .setup({
                    root: document,
                    step: ".scrollySection article .step",
                    offset: screen.width > 479 ? 0.33 : 0.4,
                    progress: true,
                    debug: false
                })
                .onStepEnter(handleStepEnter)
                .onStepProgress(handleStepProgress);
        }

        init();
      },
      parseMarkdown(input) {
        return marked.parse(input);
      },
      toggleExpandable(index) {
        let el = document.querySelector(`[data-section='${index}'] .expandable`);
        el.classList.toggle('hidden');
      },
    },
  });
</script>
</body>

</html>