* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'NotesESABold';
  src: url('./css/notesesabol-webfont.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
.h1,
.h2,
.h3,
.h4,
.headline,
.v-application .display-1,
.v-application .display-2,
.v-application .display-3,
.v-btn__content,
.v-toolbar__title,
.v-card__title,
.v-tab {
  font-family: 'NotesESABold', sans-serif !important;
}

html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  min-height: 1280px;
  color: #3b3b3b;
  font-size: 1.5rem;
}

p,
h1,
h2,
h3,
h4,
a {
  margin: 0;
  font-weight: 400;
}

a,
a:visited,
a:hover {
  color: teal;
  text-decoration: none;
  border-bottom: 2px solid currentColor;
}

#scrolly {
  position: relative;
  padding: 1rem;
}

.scrollySection {
  display: flex;
  flex-direction: column;
}

.scrollySection article {
  order: 2;
}

.scrollySection  .figureContainer {
  order: 1;
}

article {
  position: relative;
  padding: 0;
  max-width: 20rem;
  margin: 10rem auto 0;
  color: #efefef;
}

article .active {
  color: #000;
}

figure {
  position: fixed;
  left: 0;
  top: 0;
  width: 100vw;
  margin: 0;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  z-index: 0;
}

figure div {
  text-align: center;
}

figure img {
  max-width: 100%;
  width: auto;
  height: 150px;
  background-color: #fff;
  border-radius: 16px;
  margin: 0 auto;
}

figure p {
  text-align: center;
  padding: 1rem;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  font-size: 8rem;
  font-weight: 900;
}

.step {
  margin: 0 auto 2rem auto;
}

.step:last-child {
  margin-bottom: 10rem;
}

.step p {
  text-align: center;
  padding: 1rem;
  font-size: 1.8rem;
}

.step.expandContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 4rem;
}

.step .expandBtn {
  cursor: pointer;
  margin-bottom: 5px;
}

.step .expandable {
  border: 1px solid #000;
  padding: 5px 10px;
  font-size: 1rem;
}

.step .expandable.hidden {
  opacity: 0;
}

@media screen and (min-width: 500px) {
  article {
    margin-top: 260px;
  }

  figure img {
    height: 250px;
  }
}

@media screen and (min-width: 900px) {
  #intro {
    max-width: 40rem;
    margin: 200px auto;
    text-align: center;
  }

  .intro__hed {
    font-size: 2em;
    margin: 2rem auto 0.5rem auto;
  }

  .intro__dek {
    color: #8a8a8a;
  }

  #intro {
    margin-bottom: 320px;
  }

  #outro {
    height: 640px;
  }

  .fullWidthBlockInner {
    padding: 1rem;
  }

  .scrollySection {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  .scrollySection > * {
    -webkit-box-flex: 1;
    -ms-flex: 1;
    flex: 1;
  }

  .scrollySection article {
    order: 1;
  }

  .scrollySection  .figureContainer {
    order: 2;
  }

  .fullWidthBlock {
    padding: 0;
    max-width: unset;
    width: 100%;
    margin-bottom: 0;
    flex: 0 0 100%;
  }

  article {
    position: relative;
    padding: 4rem 6rem 4rem 15rem;
    max-width: 42vw;
    z-index: 1;
    margin: 0;
  }

  figure {
    position: -webkit-sticky;
    position: sticky;
    min-height: 50vh;
    top: 25vh;
    width: 100%;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    background-color: #8a8a8a00;
    z-index: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  figure img {
    height: auto;
    width: auto;
    border-bottom: none;
    border-radius: 16px;
  }

  figure img, figure video {
    min-width: 70%;
  }

  .step {
    margin: 0 auto 2rem auto;
    background-color: #3b3b3b00;
    color: #728C88;
    transition: color 0.2s linear;
  }

  .step:last-child {
    margin-bottom: 0;
  }

  .step p {
    padding: 10rem 0;
  }

  .slide-enter-active, .slide-leave-active {
    transition: opacity .2s ease-in-out, transform .2s ease-in-out;
  }

  .slide-enter, .slide-leave-to {
    opacity: 0;
    transform: translateX(-20px);
  }
}

@media screen and (min-width: 962px) {
  figure img {
    max-height: 50vh;
  }
}